.buttons{
    display: flex;
    gap: 50px;
    padding: 2%;
}
button{
    flex: 1;
    height: 80px;
    background-color: blue;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
}

.results{
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
    text-align: center;
    list-style: none;
}
ul{
    padding-left: 0px;
}
.scores{
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
}
.playerScore, .computerScore{
    border: 2px solid black;
    padding: 20px 0px;
    font-size: 10rem;
    text-align: center;
    width: 200px;
}

.playerScore::first-line, .computerScore::first-line{
    font-size: 1.5rem;
    color: blue
}

.winner{
    height: 200px;
    background-color: lightgrey;
    border-radius: 20px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px 5px black;
    max-width: 900px;
}
.winner span{
    font-size: 4rem;
    color: red;
    font-family: 'Courier New', Courier, monospace;
}
.hidden{
    display: none;
}