.buttons{
    display: flex;
    gap: 50px;
    padding: 2%;
}
button{
    flex: 1;
    height: 80px;
    background-color: blue;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
}

.results{
    width: 80%;
    margin: 0 auto;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
    text-align: center;
}

.scores{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}
.playerScore, .computerScore{
    border: 2px solid black;
    padding: 20px 50px;
    font-size: 10rem;
    text-align: center;
}

.playerScore::first-line, .computerScore::first-line{
    font-size: 2rem;
    color: blue
}